*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

:root{
	--f1: 'Oswald', sans-serif;
	--f2: 'Open Sans', sans-serif;
}

.main{
	display: flex;
}
ul,ol{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.title{
	text-align: center;
	
	
}
 
.title h3{
	font-family: var(--f1);
	font-weight: 400;
	letter-spacing: 1px;
	position: relative;
	display: inline-block;
	margin-bottom: 3%;
	text-transform: uppercase;
}
.title h3:after {
    content: "";
    position: absolute;
    background: url(../images/lathi.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120%;
    height: 100%;
    top: 38px;
    left: -11px;
}

/*=================== Nav =================*/

nav{
	background-color: rgba(14, 14, 14, 0.7);
	width: 100%;
	/*background-color:crimson;*/
	position: absolute !important;
	z-index: 999;
	top: 28px;
	transition: 0.4s;
	


}
nav button i{
	color: #f1f1f1;
}

.navbar {
     padding-top: 0; 
     padding-bottom: 0; 
}
.nav-link {
    color: #f1f1f1;
}
nav.sticky{
	top: 0px;
	position: fixed;
}
nav .logo{
	width: 20%;
	position: relative;

}
nav .logo .brand {
    background-color: #444;
    position: absolute;
    top: -46px;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    transform: skewX(-30deg);
    box-shadow: 2px 0px 8px 0px black,-2px 0px 8px 0px black;
}
nav .logo .brand img{
	transform: skewX(30deg);
}

nav .nav-links{
	width: 80%;
	/*background-color: orangered;*/
}
nav .nav-links ul{
	text-align: right;
	width: 100%;
	background-color: red;
}
nav  ul li{
	display:inline-block;
	color: #fff;
	padding: 17px 20px;
	font-size: 16px;
	transition: 0.4s;
	position: relative;
}
nav ul li:hover{
	background-color: #fff;
}
nav  ul li:after{
	content: "";
	width: 0%;
	height: 2px;
	background-color: crimson;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: 0.4s;
}



nav ul li a{
	color: #fff;
	font-family: var(--f1);
	transition: 0.4s; 
}
nav  ul li:hover a{
     color: #111;
}
nav  ul li:hover:after{
	width: 100%;
}


/*=================== Banner =================*/


section.banner-part .banner_one{
	
	background: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	
	 
}
section.banner-part .banner_two{
	
	background: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-position:   center;
	background-size: cover;
	 
}
section.banner-part .banner_three{
	
	background: url(../images/banner3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	 
}
section.banner-part .banner .overlay{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	padding-top: 253px;
	padding-bottom: 115px;
}

section.banner-part .banner .overlay h3{
	color: #fff;
	font-size: 35px;
	font-family: var(--f1);
	text-align: center;
	text-transform: capitalize;
	font-weight: 700;
	display: inline-block;
	position: relative;
}
section.banner-part .banner .overlay h3:after {
    content: "";
    width: 300px;
    height: 3px;
    background-color: crimson;
    position: absolute;
    top: 79%;
    transform: translateY(-50%);
    left: -313px;
}
section.banner-part .banner .overlay h3:before {
    content: "";
    width: 263px;
    height: 3px;
    background-color: crimson;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: -314px;
}
section.banner-part .banner .overlay h1{
	color: #fff;
	font-size: 65px;
	font-family: var(--f1);
	text-align: center;
	text-transform: uppercase;
	color: crimson;
	font-weight: 700;
	position: relative;
	display: inline-block;
}
section.banner-part .banner .overlay h1:after {
    content: "";
    width: 3px;
    height: 250px;
    background-color: crimson;
    position: absolute;
    top: -15px;
    left: -248px;
}
section.banner-part .banner .overlay h1:before {
    content: "";
    width: 3px;
    height: 250px;
    background-color: crimson;
    position: absolute;
    top: -20px;
    right: -249px;
}
section.banner-part .banner .overlay p{
	color: #fff;
	font-size: 16px;
	font-family: var(--f2);
	text-align: center;
	font-weight: 700;
	width: 500px;
	margin: 30px auto;
	position: relative;
}
section.banner-part .banner .overlay p:after {
    content: "";
    width: 177px;
    height: 3px;
    background-color: crimson;
    position: absolute;
    top: 116px;
    left: -159px;
}
section.banner-part .banner .overlay p::before {
    content: "";
    width: 152px;
    height: 3px;
    background-color: crimson;
    position: absolute;
    top: 111px;
    right: -157px;
}
section.banner-part .banner .overlay a{
	color: #fff;
	font-family: var(--f1);
	border: 1px solid #fff;
	padding: 10px 20px;
	display: inline-block;
	margin: 0px 5px;
	text-transform: uppercase;
	transition: 0.4s;
}
section.banner-part .banner .overlay a:hover{
	background-color: crimson;
	color: #fff;
	border: 1px solid crimson;
}
section.banner-part ul{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
section.banner-part ul li{
	display: inline-block;
	margin: 0px 5px;
}
section.banner-part ul li button{
	font-size: 0;
	width: 18px;
	height: 18px;
	border: 2px solid red;
	border-radius: 50%;
	background-color: transparent;
	outline: none;
}
section.banner-part ul li.slick-active button{
	background-color: crimson;
	border-color: crimson;
}


/*=================== About Us ==================*/

section.about-part{
	margin-top: 100px;
}
section.about-part .main{
	display: flex;
	justify-content: space-between;
}
section.about-part .left{
	position: relative;
}
section.about-part .left .overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
section.about-part .left .overlay i{
	color: crimson;
	width: 50px;
	height: 50px;
	background-color: crimson;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 24px;
	transition: 0.3s;
}
section.about-part .left .overlay i:hover{
	background-color: #fff;
	color: crimson;
}
section.about-part .left img{
	width: 100%;
}
section.about-part .left .overlay .fa-play:before {
    margin-left: 4px;
    content: "\f04b";
}
section.about-part .right{
	text-align: center;
}
section.about-part .right h2{
	font-family: var(--f1);
	font-weight: 400;
	font-size: 24px;
}
section.about-part .right p{
	font-family: var(--f2);
	margin: 15px 0px;
	font-size: 16px;
}

/*=============== Our Gallery =================*/

section.gallery-part{
	margin-top: 100px;
}
section.gallery-part .gallery{
	
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/gallery-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 20px 0px;
}   
section.gallery-part .main{
	justify-content: space-between;
}
section.gallery-part .row{
	justify-content: center;
}

section.gallery-part .gallery_item .img{
	margin-bottom: 15px;
	position: relative;
}
section.gallery-part .gallery_item{
}
section.gallery-part .gallery_item .img img{
	width: 100%;
	display: block;

}
section.gallery-part .gallery_item .img .overlay{
	width: 100%;
	height: 100%;
	background-color:rgba(255,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.4s;
	transform: scale(0);
	border: 4px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
section.gallery-part .gallery_item .img:hover .overlay{
	transform: scale(.9);
}
section.gallery-part .gallery_item .img {
	overflow: hidden;
	 
}
section.gallery-part .gallery_item .img img{
	transition: 0.8s;
}
section.gallery-part .gallery_item .img:hover img {
	transform: scale(1.1);
}
section.gallery-part .gallery_item .img .overlay i{
	font-size: 35px;
	color: #fff;
	text-shadow: 2px 2px 2px black;
}


section.gallery-part .gallery_item_2{
	 display: flex;
	 flex-direction: column-reverse;
}


/*==================== Our Team ===================*/


section.team-part{
	margin-top: 100px;
	 
}
section.team-part .title h3{
	margin-bottom: 5%;
}

section.team-part .main {
	 justify-content: space-between;
}
section.team-part .item{
	transition: 0.4s;
	
}
section.team-part .item:hover{
	margin-top: -50px;
	

}
	 
section.team-part .item .img{
	position: relative;
}
section.team-part .item .img .overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(.9);
	border: 5px solid #fff;
	transition: 1s;
	opacity: 0;
}
section.team-part .item:hover .img .overlay{
  opacity: 1;
}
section.team-part .item .img .overlay ul{
	 
	text-align: right;
	margin-top: 50px;
}
section.team-part .item .img .overlay ul li a  i{
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 40px;
	margin: 7px;
	margin-right: 10px;
	color: #f1f1f1;
} 

section.team-part .item .img img{
	width: 100%;
	display: block;
}
section.team-part .item .details{
	text-align: center;
	padding: 10px 15px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transition: 0.4s;

}
section.team-part .item:hover .details{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
 
	
}
section.team-part .item .details h4{
	font-family: var(--f1);
	font-weight: 400;
}
section.team-part .item .details h5{
	font-family: var(--f1);
	font-weight: 400;
	margin-bottom: 5px;
}
section.team-part .item .details p{
	font-family: var(--f2);
	font-size: 14px;
	transition: 0.4s;
	opacity: 0;
 

}
section.team-part .item:hover .details p{
	opacity: 1;

}


/*================ Testimonial ===============*/
 section.testimonial {
 	margin-bottom: 100px;
 }
section.testimonial .testi_bg {
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/testimonial-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 30px;	

}


section.testimonial .item{
	color: #fff;
	outline: none;

}

section.testimonial .item .img{
	display: flex;
	color: #fff;
}
section.testimonial .item .img div i{
	color: crimson;
	font-size: 16px;
	margin-top: 10px;
}
section.testimonial .item .img div{
	margin-left: 10px;
}
section.testimonial .item .img div h4{
	font-family: var(--f1);
	font-weight: 400;
}
section.testimonial .item .img div h5{
	font-family: var(--f1);
	font-weight: 400;
}
section.testimonial .item .details p{
	font-family: var(--f2);
	font-size: 14px;
	margin-top: 10px;
}
section.testimonial ul{
	text-align: center;
	 
}
section.testimonial ul li{
	display: inline-block;
	margin: 30px 4px 0px;

}

section.testimonial ul li button{
	font-size: 0;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid #fff;
	outline: none;
	transition: 0.4s;
}
section.testimonial ul .slick-active button{
	background-color: crimson;
	border: 2px solid crimson;

}

/*================ MemberShip =================*/

section.member-part{
	 margin-top: 100px;
	 
}
section.member-part .title h3{
	margin-bottom: 4.5%;
}

section.member-part .main{
	justify-content: space-between;
}
section.member-part .item{
	text-align: center;
	background-color: #f1f1f1;
	transition: 0.4s;

}
section.member-part .item .a{
	padding: 10px 0px;
	background-color: #ddd;
	font-family: var(--f1);
	transition: 0.4s;
}
section.member-part .item .a h4{
	text-transform: uppercase;
}
section.member-part .item .b{
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/member-bg-1.png);
	padding: 30px 0px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: var(--f1);
}
section.member-part .item .b h2{
	font-weight: 400;
}
section.member-part .item .b h2 span{
	font-size: 24px;
}

section.member-part .item .c{
	padding: 20px;
	font-family: var(--f2);
}
section.member-part .item .c ul li{
	margin: 10px 0px;
}
section.member-part .item .c ul li a{
	font-size: 15px;
	color: #111;
}

section.member-part .item .d{
	background-color: #ddd;
	font-family: var(--f1);
	padding: 5px;
	text-transform: uppercase;
	transition: 0.4s;

}	 
section.member-part .item .d h4{
	font-weight: 400;
}
section.member-part .item:hover .a,
section.member-part .item:hover .d{
	background-color: crimson;
	color: #fff;
}
section.member-part .item{
	transform: scale(0.95);
}
section.member-part .item2{
	box-shadow: 5px 0px 8px 0px rgba(0,0,0,0.3),-5px 0px 8px 0px rgba(0,0,0,0.3);
	
	 
}

/*=============== Counter Up ================*/

section.counter_up{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/counter-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 0px;
	margin-top: 100px;
	 
}
section.counter_up .main{
	justify-content: space-between;
}
section.counter_up .item{
	text-align: center;
}
section.counter_up .item h4{
	color: #eee;
	font-size: 40px;
	font-family: var(--f1);

}
section.counter_up .item p{
	color: #fff;
	font-family: var(--f1);
	color: #eee;
	letter-spacing: 1px;
}


/*=============== Company ================*/

section.company{
	margin-top: 100px;
	 
}
section.company .item{
	outline: none;
}
section.company .item img{
	height: 100px;
} 

 


section.company .prev{
	position: absolute;
	 top: 50%;
	 transform: translateY(-50%);
	left: -60px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;

	text-align: center;
	line-height: 40px;
	transition: 0.4s;
}
section.company .next{
	position: absolute;
	 top: 50%;
	 transform: translateY(-50%);
	right: -60px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	 
	text-align: center;
	line-height: 40px;
	transition: 0.4s;
}

section.company .prev:hover,section.company .next:hover{
  background-color: #f1f1f1;
  	color: crimson;
}


/*================ Tab ==================*/
section.tab{
	margin-top: 100px;
}
section.tab .title h3{
	margin-bottom: 1.5%;
}
section.tab .colorful-tab-wrapper {
    width: 100%;
    background-color: transparent !important;

 }

section.tab .colorful-tab-menu-item a{
	font-family: var(--f1);
	color: #111;
}


section.tab .colorful-tab-content p{
	font-family: var(--f2);
	color: #111;
}
section.tab .colorful-tab-wrapper:before{
	color: #111;
	font-family: var(--f1);
}
section.tab .colorful-tab-content .main{
	 
}
section.tab .colorful-tab-content .item{
	 flex-basis: 19%;
	 padding: 60px 0px;
	 background-color: #f1f1f1;
	 margin: 5px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 transition: 0.4s;
}
section.tab .colorful-tab-content .item img{
	transition: 0.5s;
}
section.tab .colorful-tab-content .item:hover img{
	filter: invert(1);
}
section.tab .colorful-tab-content .item:hover{
	background-color: #444;
}
section.tab .colorful-tab-menu-item{
	border-radius: 5px;
}

section.tab .colorful-tab-menu .active{
	background-color: crimson;
	transition: 0.6s;
 

}
section.tab .colorful-tab-menu .active a{
	color: #fff;
	
}




/*=============== Footer ================*/

section.footer{
	margin-top: 100px;
	 
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/fotter-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
 

 

section.footer .one{
	text-align: center;
	padding: 20px 0px;
 
	border-bottom: 1px solid #ddd;
}
 
section.footer .two{
	
}
section.footer .two .a,
section.footer .two .b,
section.footer .two .c,
section.footer .two .d{
	 flex-basis: 23%;

	 
}
/*==================== b Part ==================*/

section.footer .two  h3{
	font-family: var(--f1);
	margin: 20px 0px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
}

section.footer .two .a div{
	display: flex;
	 justify-content: space-between;
}
section.footer .two .a div .p1{
	flex-basis: 30%;
	 
	margin-bottom: 5px;
	font-family: var(--f2);
	font-size: 15px;
	color: #fff;
}
section.footer .two .a div .p2{
	flex-basis: 65%;
 
	text-align: left;
	margin-bottom: 5px;
	font-family: var(--f2);
	font-size: 15px;
	color: #fff;
}

/*==================== b Part ==================*/

section.footer .two .b .content{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
section.footer .two .b .content .con1{
	flex-basis: 10%;
	 
}
section.footer .two .b .content .con1 i{
	color: dodgerblue;
}
section.footer .two .b .content .con2{
	flex-basis: 86%;
	 
}
section.footer .two .b .content .con2 p{
	font-family: var(--f2);
	font-size: 14px;
	color: #fff;

}	 

section.footer .two .c .gallery_one{
	display: flex;
	justify-content: space-between;
}
section.footer .two .c .gallery_one div{
	flex-basis: 23%;
}
section.footer .two .c .gallery_one div img{
	width: 100%;
}

section.footer .two .c .gallery_two{
	display: flex;
	justify-content: space-between;
}
section.footer .two .c .gallery_two div{
	flex-basis: 23%;
}
section.footer .two .c .gallery_two div img{
	width: 100%;
}

section.footer .two .c .gallery_three{
	display: flex;
	justify-content: space-between;
}
section.footer .two .c .gallery_three div{
	flex-basis: 23%;
}
section.footer .two .c .gallery_three div img{
	width: 100%;
	display: block;
}
section.footer .two .d{
	margin-left: 20px;
}
section.footer .two .d .location{
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;

}
section.footer .two .d .location .icon{
	flex-basis: 10%;
	color: #fff;

}
section.footer .two .d .location .icon{
	font-size: 16px;
	color: #fff;
}
section.footer .two .d .location .details{
	flex-basis: 85%;
	color: #fff;
}
section.footer .two .d .location .details p{
	font-family: var(--f2);
	font-size: 14px;
}
section.footer .two .d .social_icon{
	 
}
section.footer .two .d .social_icon i{
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 30px;
	color: #fff;
	transition: 0.4s;
	font-size: 16px;
	margin: 0px 3px;

}
section.footer .two .d .social_header{
	margin-top: 20px;
}
section.footer .two .d .social_icon i:hover{
	background-color: crimson;
	color: #fff;
	border-color: crimson;
}
section.footer .three p{
	text-align: center;
	color: #fff;
	font-family: var(--f2);
	padding: 15px 0px;
	font-size: 14px;
	border-top: 1px solid #ddd;
}
section.footer .three p span{
	color: crimson;
	text-transform: uppercase;
}





	 


	 





	